<div class="jumbotron mt">
  <h1 class="display-4">Notes App and MongoDB</h1>
  <p class="lead">
    Lorem ipsum dolor sit
  </p>
  <hr class="my-4" />
  <p>Lorem fugiat nobis!</p>

  <a
    href="https://getbootstrap.com/docs/5.3/components/navbar/#nav"
    class="btn btn-primary"
  > Navbar-Boosttrap</a>
</div>-